export(LICORS2LSC)
export(plot_LSC_0plus1D)
export(plot_LSC_1plus1D)
export(plot_LSC_2plus1D)
export(states2LSC)
export(states2probs)
import(fields)
import(gam)
import(LICORS)
import(Matrix)
import(RColorBrewer)
S3method(plot,LSC)
